!!!
%html{:lang => "en-us"}
  %head
    %meta{:charset => "utf-8"}
      %title Custom Modern Ergonomic Guitars
    %meta{:content => "Modern Custom Guitars", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "author"}
    %link{:href => url_for("/img/logo.png"), :rel => "shortcut icon", :type => "image/x-icon"}/
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    = stylesheet_link_tag "all"
    = javascript_include_tag "all"
    = yield_content :head
    
  %body
    = partial('partials/nav')
    .container= yield
