%link{:href => "//23.253.214.114/gallery/css/blueimp-gallery.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "//23.253.214.114/gallery/js/blueimp-gallery.min.js", :type => "text/javascript"}


#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  .slides
  %h3.title
  %a.prev ‹
  %a.next ›
  / %a.close ×
  %a.play-pause
  %ol.indicator

.panel.panel-default
  .panel-heading
    /%i.fa.fa-clock-o.fa-fw
    %b= build[:title]
    %small= link_to "(tdpri)", "http://www.tdpri.com/forum/tele-home-depot/521290-headless-neckthrough.html"
    .pull-right
      Build for 
      %b= build[:player]
      by 
      %b= build[:builder]
  / /.panel-heading
  .panel-body
    %ul.timeline#gallery
      - build[:entries].each_with_index do |entry, idx|
        = partial('partials/builds/entry', locals: {entry: entry, index: idx})


= javascript_include_tag 'gallery'