= partial("partials/fakia/header")
= partial("partials/fakia/overview")
= partial("partials/fakia/gallery")
= partial("partials/fakia/packages")
= partial("partials/shark/mockup")
= partial("partials/shark/proto")
= partial("partials/shark/conciere")
= partial("partials/shark/scene")
= partial("partials/shark/build")
= partial("partials/fakia/social")
= partial("partials/fakia/modal")
= partial("partials/fakia/javascripts")

/= partial("partials/fakia/footer")
/= partial("partials/fakia/pricing")
/ = partial("partials/fakia/animations")
/ = partial("partials/fakia/details")
/ = partial("partials/fakia/download")
/ = partial("partials/fakia/details")
/ = partial("partials/fakia/pricing")
/ = partial("partials/fakia/screenshots")
/ = partial("partials/fakia/newsletter")
/ = partial("partials/fakia/people")
/ = partial("partials/fakia/contact")
/ = partial("partials/fakia/social")
