.row.form-group{"data-wood" => locals[:wood]}
  .col-sm-3
    %label.control-label
      =title
      /=section
      -section_title = section + "_" + title
  .col-sm-9
    - options.each_with_index do |option, idx|
      .radio
        - id = "#{id_for(section_title)}-#{idx}"
        %label{:for => id}
          %input{id: id, :checked => (1 if idx.zero?), :name => id_for(section_title), :type => "radio", :value => option}

            = option
          - if section == 'body' && title == 'Shape'
            %div= image_tag "/img/builds/#{option.downcase}/#{option.downcase}.png"

    - id = "#{id_for(section_title)}-other"
    .radio
      %label{:for => id}
        %input{id: id, :name => id_for(section_title), :type => "radio", value: "OTHER", class: 'other'}
          Other 
      .other-value(style="display:none;padding-left:16px")   
        %input{id: id + '-value', :name => (id_for(section_title) + "-other-value"), :type => "text", :placeholder => "Other Value"}
    
    - if locals[:st]
      = image_tag '/img/etc/icon-tail.png', title: locals[:st], 'data-toggle' => 'tooltip', style: 'float:left;width:40px'
    .text-muted= locals[:hint]

  / .col-sm-6
  /   /%p= locals[:help]
  