.btn-group.pull-right(role="group")      
  %button{type: :button, class: 'btn btn-default', :id => "aLog"} Log
  %a{class: 'btn btn-default', :id => "aWood"} Wood
%h1 
  Build
  %small.text-muted 
    any guitar

#logContainer(style='display:none')

#divPreviewContainer
  .row
    .col-lg-12
      .pull-right
        .btn-group(role="group")      
          %button{type: :button, class: 'btn btn-default', :id => "aGuide"}     
            %i.fa.fa-file-image-o
            Guide
      

  #divPreview.hidden-xs.hidden-sm
    = image_tag "/img/builds/blank.png", id: "img-body", class: 'img-responsive'
    = image_tag "/img/builds/blank.png", id: "img-cap", class: 'img-responsive'
    = image_tag "/img/builds/blank.png", id: "img-neck", class: 'img-responsive'
    = image_tag "/img/builds/blank.png", id: "img-head", class: 'img-responsive'
    = image_tag "/img/builds/blank.png", id: "img-hw", class: 'img-responsive'
    = image_tag "/img/builds/scale.png", id: "img-scale", class: 'img-responsive', style: 'display:none'




.row
  %form(data-persist="garlic" id='frmBuilder')
    - %w[body neck head].each do |section|
      .col-lg-4.col-md-6.col-sm-12= partial('partials/builder/section', locals: {section: section}) 
.row
  .col-lg-12= partial('partials/builder/preview')  
.row 
  .col-md-6
    %button(type='submit'  class='btn btn-success btn-block' id='btnSend') 
      Send Via Email  
  
  .col-md-6
    %button(type='submit'  class='btn btn-success btn-block' id='btnCopy') 
      Copy JSON 
.row
  .alert.alert-success
    If your browser supports it, a copy is saved locally. So you can come back and start building again and your build 
    %b should
    be saved. 

%script
/ //$builds = 
/ //= data.build.to_json     
/ / html2canvas(document.getElementById('divPreview'), {
/ / onrendered: function(canvas) {
/ / document.body.appendChild(canvas);
/ / }
/ //,
/ //width: 300,
/ //height: 300
/ });
