- content_for :head do
  = javascript_include_tag "builder"
  = javascript_include_tag "editable"
  
- content_for :nav do
  %li
    %a{:href => "#body"} Body      
  %li
    %a{:href => "#neck"} Neck
  %li
    %a{:href => "#head"} Head  
  %li.active
    %a{:href => "#", class: 'aBookmarklet'} Save


%h1(contentEditable="true" id="h1Title") 
  Design
  %small.text-muted 
    any guitar



#divPreviewContainer
  .row
    .col-lg-12
      %span#uiUpdate
      .pull-right        
        .btn-group(role="group")      
          %button{type: :button, class: 'btn btn-default', :id => "aGuide"}     
            %i.fa.fa-file-image-o
            Guide
      

  #divPreview.hidden-xs.hidden-sm
    = image_tag "/img/builds/blank.png", id: "img-body", class: 'img-responsive'
    = image_tag "/img/builds/blank.png", id: "img-cap", class: 'img-responsive'
    = image_tag "/img/builds/blank.png", id: "img-neck", class: 'img-responsive'
    = image_tag "/img/builds/blank.png", id: "img-head", class: 'img-responsive'
    = image_tag "/img/builds/blank.png", id: "img-hw", class: 'img-responsive'
    = image_tag "/img/builds/scale.png", id: "img-scale", class: 'img-responsive', style: 'display:none'

.row
  %form(id='frmBuilder')
    %input(type="hidden" name="title" id="txtTitle")
    - %w[body neck head].each do |section|
      .col-lg-4.col-md-6.col-sm-12= partial('partials/builder/section', locals: {section: section}) 

.row
  %h5 Developer tools
  .btn-group(role="group")      
    %button{type: :button, class: 'btn btn-default', :id => "aLog"} Log
    %button{type: :button, class: 'btn btn-default', :id => "aJson"} JSON
  #logContainer(style='display:none')
  #jsonContainer(style='display:none')
%p