- content_for :nav do
  %li.active= link_to "Philosophy", "/philosophy"
  %li= link_to "About", "/about"
  %li= link_to "Videos", "/videos"
  %li= link_to "Virtual Guitar Builder", "/"

%h1.page-header Philosophy



.row
  .col-md-6
    %h2 Design

    %ul
      %li Modern
      %li Light
      %li Beautiful wood
      

    %p 
      I want my guitar to be simple, beautiful, light and resonant. 
    %p
      Visually, I wan't to see 
      %b beautiful wood. 
      No paint job can compete with the abstact figures found in spalted maple or figured walnut or paduk, etc.
    %p
      %b One pickup 
      is good enough. 
      In fact I believe multiple pickups can have a negative effect on the tone because of the magnetic effects on the strings, even when the pickup is not engaged electronically.

    %p A tremolo is not worth the overhead in weight or tuning instability.



    %h2 Build


    %ul
      %li 
        %b Neck through 
        I believe a neck through is an essential part of the guitar. 
        %br/
        = image_tag "/img/about/neck-through.png"
        %br/
        %b Here is why ...
        %ul
          %li Resonance and stability
          %li More control over upper fret access and shape
          %li No bolts, or glue, to keep the two halves of the guitar together
      %li 
        %b Floyd Rose Speedloader
        %ul
          %li No traditional tuners on the head
          %li No string winding trees
          %li No string over the bridge or nut
          %li Fine tuners on the bridge for quick, accurate tuning
               
      

    /%p Full disclosure, I don't have a rich/full history in guitar design, building or theory, I've only really got into within since about June 2013.

  .col-md-6
    .well.float-right
      %h2 General
      %ul
        %li Learn from the past
        %li Try new things
        %li Always be learning
        %li Simplify, remove, repeat

