!!!
%html{:lang => "en"}
  %head
    /
      Basic Page Needs
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    %meta{:charset => "utf-8"}
      %title Skeleton: Responsive CSS Boilerplate
      %meta{:content => "", :name => "description"}
        %meta{:content => "", :name => "author"}
          /
            Mobile Specific Metas
            ––––––––––––––––––––––––––––––––––––––––––––––––––
          %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
            /
              FONT
              ––––––––––––––––––––––––––––––––––––––––––––––––––
            %link{:href => "http://fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}
              /
                CSS
                ––––––––––––––––––––––––––––––––––––––––––––––––––
              %link{:href => "dist/css/normalize.css", :rel => "stylesheet"}
                %link{:href => "dist/css/skeleton.css", :rel => "stylesheet"}
                  %link{:href => "css/custom.css", :rel => "stylesheet"}
                    /
                      Scripts
                      ––––––––––––––––––––––––––––––––––––––––––––––––––
                    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
                    %script{:src => "https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"}
                    %link{:href => "css/github-prettify-theme.css", :rel => "stylesheet"}
                      %script{:src => "js/site.js"}
                      /
                        Favicon
                        ––––––––––––––––––––––––––––––––––––––––––––––––––
                      %link{:href => "dist/images/favicon.png", :rel => "icon", :type => "image/png"}
  %body.code-snippets-visible
    /
      Primary Page Layout
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    .container
      %section.header
        %h2.title A dead simple, responsive boilerplate.
        %a.button.button-primary{:href => "https://github.com/dhg/Skeleton/releases/download/v2.0/Skeleton.2.0.zip", :onClick => "_gaq.push(['_trackEvent', 'skeleton', 'download'])"} Download
        .value-props.row
          .four.columns.offset-by-two.value-prop
            %img.value-img{:src => "images/feather.svg"}
              Light as a feather at ~400 lines &amp; built with mobile in mind.
          .four.columns.value-prop
            %img.value-img{:src => "images/pens.svg"}
              Styles designed to be a starting point, not a UI framework.
          .four.columns.value-prop
            %img.value-img{:src => "images/watch.svg"}
              Quick to start with zero compiling or installing necessary.
      .navbar-spacer
      %nav.navbar
        .container
          %ul.navbar-list
            %li.navbar-item
              %a.navbar-link{:href => "#intro"} Intro
            %li.navbar-item
              %a.navbar-link{"data-popover" => "#codeNavPopover", :href => "#"} Code
              #codeNavPopover.popover
                %ul.popover-list
                  %li.popover-item
                    %a.popover-link{:href => "#grid"} Grid
                  %li.popover-item
                    %a.popover-link{:href => "#typography"} Typography
                  %li.popover-item
                    %a.popover-link{:href => "#buttons"} Buttons
                  %li.popover-item
                    %a.popover-link{:href => "#forms"} Forms
                  %li.popover-item
                    %a.popover-link{:href => "#lists"} Lists
                  %li.popover-item
                    %a.popover-link{:href => "#code"} Code
                  %li.popover-item
                    %a.popover-link{:href => "#tables"} Tables
                  %li.popover-item
                    %a.popover-link{:href => "#queries"} Queries
                  %li.popover-item
                    %a.popover-link{:href => "#utilities"} Utilities
            %li.navbar-item
              %a.navbar-link{:href => "#examples"} Examples
            %li.navbar-item
              %a.navbar-link{"data-popover" => "#moreNavPopover", :href => "#"} More
              #moreNavPopover.popover
                %ul.popover-list
                  %li.popover-item
                    %a.popover-link{:href => "https://github.com/dhg/Skeleton"} On Github
                  %li.popover-item
                    %a.popover-link{:href => "https://github.com/dhg/Skeleton#browser-support"} Browsers
                  %li.popover-item
                    %a.popover-link{:href => "https://github.com/dhg/Skeleton#license"} License
                  %li.popover-item
                    %a.popover-link{:href => "https://github.com/dhg/Skeleton/releases"} Versions
                  %li.popover-item
                    %a.popover-link{:href => "https://github.com/dhg/Skeleton#colophon"} Colophon
      / Why use Skeleton
      #intro.docs-section
        %h6.docs-header Is Skeleton for you?
        %p
          You should use Skeleton if you're embarking on a smaller project or just don't feel like you need all the utility of larger frameworks. Skeleton only styles a handful of standard HTML elements and includes a grid, but that's often more than enough to get started. In fact,
          %u this site is built on Skeleton and has ~200 lines of custom CSS
          (half of which is the docking navigation).
        %p Love Skeleton and want to Tweet it, share it, or star it? Well, I appreciate that <3
        %a.twitter-share-button{"data-related" => "dhg", "data-text" => "Skeleton - A dead simple, responsive boilerplate.", "data-url" => "http://www.getskeleton.com", "data-via" => "dhg", :href => "https://twitter.com/share"} Tweet
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');        / <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.getskeleton.com&amp;amp;width&amp;amp;layout=button_count&amp;amp;action=like&amp;amp;show_faces=false&amp;amp;share=true&amp;amp;height=21&amp;amp;appId=151131931646052" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px; width:140px" allowTransparency="true"></iframe>
        %iframe{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=dhg&repo=Skeleton&type=watch&count=true", :width => "110"}
        %iframe{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=dhg&repo=Skeleton&type=fork&count=true", :width => "110"}
      / Grid
      #grid.docs-section
        %h6.docs-header The grid
        %p
          The grid is a
          = succeed "," do
            %u 12-column fluid grid with a max width of 960px
          that shrinks with the browser/device at smaller sizes. The max width can be changed with one line of CSS and all columns will resize accordingly. The syntax is simple and it makes coding responsive much easier. Go ahead, resize the browser.
        .example-grid.docs-example
          .row
            .one.column One
            .eleven.columns Eleven
          .row
            .two.columns Two
            .ten.columns Ten
          .row
            .three.columns Three
            .nine.columns Nine
          .row
            .four.columns Four
            .eight.columns Eight
          .row
            .five.columns Five
            .seven.columns Seven
          .row
            .six.columns Six
            .six.columns Six
          .row
            .seven.columns Seven
            .five.columns Five
          .row
            .eight.columns Eight
            .four.columns Four
          .row
            .nine.columns Nine
            .three.columns Three
          .row
            .ten.columns Ten
            .two.columns Two
          .row
            .eleven.columns Eleven
            .one.column One
        / CODE EXAMPLE ————————————————————————————————————————
        %pre.code-example
          %code.code-example-body.prettyprint
            / .container is main centered wrapper
            .container
              / all columns must be wrapped in a .row
              .row
                .one.column One
                .eleven.columns Eleven
              / just use a number and class 'column' or 'columns'
              .row
                .two.columns Two
                .ten.columns Ten
              / there are a few shorthand columns widths as well
              .row
                .one-third.columns 1/3
                .two-thirds.columns 2/3
              .row
                .one-half.columns 1/2
                .one-half.columns 1/2
            / Note: columns *cannot* be nested since that's tough with % based grid
        / —————————————————————————————————————————————————————
      / Typography
      #typography.row.docs-section
        %h6.docs-header Typography
        %p
          Type is all set with the
          = succeed "," do
            %code rems
          so font-sizes and spacial relationships can be responsively sized based on a single
          %code &lt;html&gt;
          font-size property. Out of the box, Skeleton never changes the
          %code &lt;html&gt;
          font-size, but it's there in case you need it for your project. All measurements are still base 10 though so, an
          %code &lt;h1&gt;
          with
          = succeed "font-size" do
            %code 5.0rem
          just means
          = succeed "." do
            %code 50px
        .docs-example
          .row
            .six.columns
              %p
                %strong The typography base
                is
                %a{:href => "http://www.google.com/fonts/specimen/Raleway"} Raleway
                served by Google, set at 15rem (15px) over a 1.6 line height (24px). Other type basics like
                = succeed "," do
                  %a{:href => "#"} anchors
                = succeed "," do
                  %strong strong
                = succeed "," do
                  %em emphasis
                and
                %u underline
                are all obviously included.
              %p
                %strong Headings
                create a family of distinct sizes each with specific
                = succeed "," do
                  %code letter-spacing
                = succeed "," do
                  %code line-height
                and
                = succeed "." do
                  %code margins
            .six.columns
              %h1
                Heading
                %span.heading-font-size
                  %code &lt;h1&gt;
                  50rem
              %h2
                Heading
                %span.heading-font-size
                  %code &lt;h2&gt;
                  42rem
              %h3
                Heading
                %span.heading-font-size
                  %code &lt;h3&gt;
                  36rem
              %h4
                Heading
                %span.heading-font-size
                  %code &lt;h4&gt;
                  30rem
              %h5
                Heading
                %span.heading-font-size
                  %code &lt;h5&gt;
                  24rem
              %h6
                Heading
                %span.heading-font-size
                  %code &lt;h6&gt;
                  15rem
        / CODE EXAMPLE ————————————————————————————————————————
        %pre.code-example
          %code.code-example-body.prettyprint
            / Standard Headings
            %h1 Heading
            %h2 Heading
            %h3 Heading
            %h4 Heading
            %h5 Heading
            %h6 Heading
            / Base type size
            %p The base type is 15px over 1.6 line height (24px)
            / Other styled text tags
            %strong Bolded
            %em Italicized
            %a Colored
            %u Underlined
        / —————————————————————————————————————————————————————
      / Buttons
      #buttons.row.docs-section
        %h6.docs-header Buttons
        %p
          Buttons come in two basic flavors in Skeleton. The standard
          %code &lt;button&gt;
          element is plain, whereas the
          %code .button-primary
          button is vibrant and prominent. Button styles are applied to a number of appropriate form elements, but can also be arbitrarily attached to anchors with a
          %code .button
          class.
        .docs-example
          %div
            %a.button{:href => "#"} Anchor button
            %button Button element
            %input{:type => "submit", :value => "submit input"}
              %input{:type => "button", :value => "button input"}
          %div
            %a.button.button-primary{:href => "#"} Anchor button
            %button.button-primary Button element
            %input.button-primary{:type => "submit", :value => "submit input"}
              %input.button-primary{:type => "button", :value => "button input"}
        / CODE EXAMPLE ————————————————————————————————————————
        %pre.code-example
          %code.code-example-body.prettyprint
            / Standard buttons
            %a.button{:href => "#"} Anchor button
            %button Button element
            %input{:type => "submit", :value => "submit input"}
              %input{:type => "button", :value => "button input"}
                / Primary buttons
                %a.button.button-primary{:href => "#"} Anchor button
                %button.button-primary Button element
                %input.button-primary{:type => "submit", :value => "submit input"}
                  %input.button-primary{:type => "button", :value => "button input"}
        / —————————————————————————————————————————————————————
      / Forms
      #forms.row.docs-section
        %h6.docs-header Forms
        %p Forms are a huge pain, but hopefully these styles make it a bit easier. All inputs, select, and buttons are normalized for a common height cross-browser so inputs can be stacked or placed alongside each other.
        .docs-example.docs-example-forms
          %form
            .row
              .six.columns
                %label{:for => "exampleEmailInput"} Your email
                %input#exampleEmailInput.u-full-width{:placeholder => "test@mailbox.com", :type => "email"}
              .six.columns
                %label{:for => "exampleRecipientInput"} Reason for contacting
                %select.u-full-width
                  %option{:value => "Option 1"} Questions
                  %option{:value => "Option 2"} Admiration
                  %option{:value => "Option 3"} Can I get your number?
            %label{:for => "exampleMessage"} Message
            %textarea#exampleMessage.u-full-width{:placeholder => "Hi Dave &hellip;"}
            %label.example-send-yourself-copy
              %input{:type => "checkbox"}
                %span.label-body Send a copy to yourself
            %input.button-primary{:type => "submit", :value => "Submit"}
        / CODE EXAMPLE ————————————————————————————————————————
        %pre.code-example
          %code.code-example-body.prettyprint
            / The above form looks like this
            %form
              .row
                .six.columns
                  %label{:for => "exampleEmailInput"} Your email
                  %input#exampleEmailInput.u-full-width{:placeholder => "test@mailbox.com", :type => "email"}
                .six.columns
                  %label{:for => "exampleRecipientInput"} Reason for contacting
                  %select.u-full-width
                    %option{:value => "Option 1"} Questions
                    %option{:value => "Option 2"} Admiration
                    %option{:value => "Option 3"} Can I get your number?
              %label{:for => "exampleMessage"} Message
              %textarea#exampleMessage.u-full-width{:placeholder => "Hi Dave &hellip;"}
              %label.example-send-yourself-copy
                %input{:type => "checkbox"}
                  %span.label-body Send a copy to yourself
              %input.button-primary{:type => "submit", :value => "Submit"}
            / Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it
            / Note: The class .u-full-width is just a utility class shorthand for width: 100%
        / —————————————————————————————————————————————————————
      / Lists
      #lists.docs-section
        %h6.docs-header Lists
        .row.docs-example
          .six.columns
            %ul
              %li Unordered lists have basic styles
              %li
                They use the circle list style
                %ul
                  %li Nested lists styled to feel right
                  %li Can nest either type of list into the other
              %li Just more list items mama san
          .six.columns
            %ol
              %li Ordered lists also have basic styles
              %li
                They use the decimal list style
                %ul
                  %li Ordered and unordered can be nested
                  %li Can nest either type of list into the other
              %li Last list item just for the fun
        / CODE EXAMPLE ————————————————————————————————————————
        %pre.code-example
          %code.code-example-body.prettyprint
            %ul
              %li Item 1
              %li
                Item 2
                %ul
                  %li Item 2.1
                  %li Item 2.2
              %li Item 3
            / Easily substitute any <ul> or an <ol> to get number lists or sublists. Skeleton doesn't support lists nested deeper than 2 levels
        / —————————————————————————————————————————————————————
      / Code
      #code.row.docs-section
        %h6.docs-header Code
        %p
          Code styling is kept basic – just wrap anything in a
          %code &lt;code&gt;
          and it will appear like
          = succeed "." do
            %code this
          For blocks of code, wrap a
          %code &lt;code&gt;
          with a
          = succeed "." do
            %code &lt;pre&gt;
        .docs-example
          %pre
            %code
              :preserve
                .some-class {
                  background-color: red;
                }        / CODE EXAMPLE ————————————————————————————————————————
        %pre.code-example
          %code.code-example-body.prettyprint
            %pre
              %code
                :preserve
                  .some-class {
                    background-color: red;
                  }            / Remember every whitespace and break will be preserved in a <pre>, including indentation in your code
        / —————————————————————————————————————————————————————
      / Tables
      #tables.row.docs-section
        %h6.docs-header Tables
        %p
          Be sure to use properly formed table markup with
          %code &lt;thead&gt;
          and
          %code &lt;tbody&gt;
          when building a
          = succeed "." do
            %code table
        .docs-example
          %table.u-full-width
            %thead
              %tr
                %th Name
                %th Age
                %th Sex
                %th Location
            %tbody
              %tr
                %td Dave Gamache
                %td 26
                %td Male
                %td San Francisco
              %tr
                %td Dwayne Johnson
                %td 42
                %td Male
                %td Hayward
        / CODE EXAMPLE ————————————————————————————————————————
        %pre.code-example
          %code.code-example-body.prettyprint
            %table.u-full-width
              %thead
                %tr
                  %th Name
                  %th Age
                  %th Sex
                  %th Location
              %tbody
                %tr
                  %td Dave Gamache
                  %td 26
                  %td Male
                  %td San Francisco
                %tr
                  %td Dwayne Johnson
                  %td 42
                  %td Male
                  %td Hayward
        / —————————————————————————————————————————————————————
      / Queries
      #queries.row.docs-section
        %h6.docs-header Media queries
        %p
          Skeleton uses media queries to serve its scalable grid, but also has a list of queries for convenience of styling your site across devices. The queries are mobile-first, meaning they target
          = succeed "." do
            %code min-width
          Mobile-first queries are how Skeleton's grid is built and is the preferrable method of organizing CSS. It means all styles outside of a query apply to all devices, then larger devices are targeted for enhancement. This prevents small devices from having to parse tons of unused CSS. The sizes for the queries are:
        .docs-example.row
          .six.columns
            %ul
              %li
                %strong> Desktop HD
                \: 1200px
              %li
                %strong> Desktop
                \: 1000px
              %li
                %strong> Tablet
                \: 750px
          .six.columns
            %ul
              %li
                %strong> Phablet
                \: 550px
              %li
                %strong> Mobile
                \: 400px
        / CODE EXAMPLE ————————————————————————————————————————
        %pre.code-example
          %code.code-example-body.prettyprint
            :preserve
              /* Mobile first queries */
              
              /* Larger than mobile */
              @media (min-width: 400px) {}
              
              /* Larger than phablet */
              @media (min-width: 550px) {}
              
              /* Larger than tablet */
              @media (min-width: 750px) {}
              
              /* Larger than desktop */
              @media (min-width: 1000px) {}
              
              /* Larger than Desktop HD */
              @media (min-width: 1200px) {}
              
              
        / —————————————————————————————————————————————————————
      / Utilities and Misc.
      #utilities.row.docs-section
        %h6.docs-header Utilities
        %p Skeleton has a number of small utility classes that act as easy-to-use helpers. Sometimes it's better to use a utility class than create a whole new class just to float an element.
        / CODE EXAMPLE ————————————————————————————————————————
        %pre.code-example
          %code.code-example-body.prettyprint
            :preserve
              /* Utility Classes */
              
              /* Make element full width */
              .u-full-width {
                width: 100%;
                box-sizing: border-box; }
              
              /* Make sure elements don't run outside containers (great for images in columns) */
              .u-max-full-width {
                max-width: 100%;
                box-sizing: border-box; }
              
              /* Float either direction */
              .u-pull-right {
                float: right; }
              .u-pull-left {
                float: left; }
              
              /* Clear a float */
              .u-cf { 
                content: "";
                display: table;
                clear: both; }
        / —————————————————————————————————————————————————————
      / Examples
      #examples.docs-section.examples
        %h6.docs-header Examples
        .row.example
          %a.example-screenshot-wrapper{:href => "examples/landing", :target => "_blank"}
            %img.example-screenshot{:src => "images/examples/landing.jpg"}
          .one-half.offset-by-one-half.column
            %h6.example-header Demo Landing Page
            %p.example-description This template is an example of how easy it can be to create a landing page with just the Skeleton grid and a few custom styles. The entire demo is ~150 lines of CSS including comments (most of which is positioning the phones at the top).
            %a.button{:href => "examples/landing", :target => "_blank"} Demo
            %a.button{:href => "https://github.com/dhg/Skeleton/tree/gh-pages/examples/landing", :target => "_blank"} Source
        .row.example
          .example-screenshot-wrapper
            .example-screenshot.coming-soon
          .one-half.offset-by-one-half.column
            %h6.example-header More Coming Soon!
            %p.example-description More examples will be added to help anyone get started or more familiar with how Skeleton works. The goal is education. If you're more interested in real, live examples of Skeleton sites, I'll be creating a "Built on Skeleton" list soon!
    / Google Analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33397759-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      /
      End Document
      ––––––––––––––––––––––––––––––––––––––––––––––––––