#divPreview
  = image_tag "/img/shark/builds/manta/body.png", id: "img-body", class: 'img-responsive'
  /= image_tag "/img/shark/builds/shark/body/c2.png"
  = image_tag "/img/shark/builds/manta/cap.png", id: "img-cap", class: 'img-responsive'
  = image_tag "/img/shark/builds/manta/neck.png", id: "img-neck", class: 'img-responsive'
  = image_tag "/img/shark/builds/manta/head.png", id: "img-head", class: 'img-responsive'
  = image_tag "/img/shark/builds/manta/hw.png", id: "img-hw", class: 'img-responsive'

%select#slcBuild(data-storage="false")
  %option(value='manta' checked) Manta
  %option(value='shark') Shark

:css
  #divPreview{
    position:relative;
    height: 368px;
    width:1000px;
  }
  #divPreview img{
    position:absolute;
    left:0;
    top:0;
    height: 368px;
    width:1000px;
  } 
  #slcBuild{ width:100% ;font-size: 60px }
  
/ .container
/   .row
/     .col-lg-3
/       %h3 Body
/       %ul
/         %li 
/           Wood
/           %br/
/           = link_to 'Maple', '#'
/           %br/
/           = link_to 'Spalted Maple', '#'

/         %li 
/           Color
/           %br/
/           = link_to 'Red', '#'
/           %br/
/           = link_to 'Green', '#' 
/           %br/
/           = link_to 'Blue', '#'
/           %br/
/           = link_to 'Yellow', '#'       
/           %br/
/           = link_to 'Natural', '#'

/     .col-lg-3
/       %h3 Cap
/       %ul
/         %li 
/           Wood
/           %br/
/           = link_to 'Maple', '#'
/           %br/
/           = link_to 'Spalted Maple', '#'

/         %li 
/           Color
/           %br/
/           = link_to 'Red', '#'
/           %br/
/           = link_to 'Green', '#' 
/           %br/
/           = link_to 'Blue', '#'
/           %br/
/           = link_to 'Yellow', '#'       
/           %br/
/           = link_to 'Natural', '#' 
/     .col-lg-3
/       %h3 Neck
/       %ul
/         %li 
/           Wood
/           %br/
/           = link_to 'Maple', '#'
/           %br/
/           = link_to 'Spalted Maple', '#'
/     .col-lg-3
/       %h3 Head
/       %ul
/       %ul
/         %li 
/           Wood
/           %br/
/           = link_to 'Maple', '#'
/           %br/
/           = link_to 'Spalted Maple', '#'

/         %li 
/           Color
/           %br/
/           = link_to 'Red', '#'
/           %br/
/           = link_to 'Green', '#' 
/           %br/
/           = link_to 'Blue', '#'
/           %br/
/           = link_to 'Yellow', '#'       
/           %br/
/           = link_to 'Natural', '#'


