#divPreview
  = image_tag "/img/shark/builds/shark/body.png", id: "img-body", class: 'img-responsive'
  = image_tag "/img/shark/builds/shark/cap.png", id: "img-cap", class: 'img-responsive'
  = image_tag "/img/shark/builds/shark/neck.png", id: "img-neck", class: 'img-responsive'
  = image_tag "/img/shark/builds/shark/head.png", id: "img-head", class: 'img-responsive'
  = image_tag "/img/shark/builds/shark/hw.png", id: "img-hw", class: 'img-responsive'


:css
  #divPreview{
    position:relative;
    height: 368px;
    width:1000px;
  }
  #divPreview img{
    position:absolute;
    left:0;
    top:0;
    height: 368px;
    width:1000px;
  } 
  
:javascript
  var build = 'shark'
= javascript_include_tag "/javascripts/preview.js"
  